#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
#[server]

#this tells mariadb that there is an init script
#init_file = /etc/mysql/init.sql

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Basic Settings
#

#basedir                 = /usr
#tmpdir                  = /tmp

#user                    = root
user					= mysql
datadir                 = /var/lib/mysql
pid-file                = /run/mysqld/mysqld.pid
socket					= /run/mysqld/mysqld.sock
port					= 3306
log_error				= /var/log/mariadb/mariadb.log
#syslog					= 1

#basic security settings
#bind_address			= 0.0.0.0
#skip-networking 		= 0

#[mysqld_safe]

