
[server]

[mysqld]


user					= mysql
datadir					= /var/lib/mysql
basedir					= /usr
tmpdir					= /tmp
pid-file				= /run/mysqld/mysqld.pid
socket					= /run/mysqld/mysqld.sock
port					= 3306
log_error				= /var/log/mysql/error.log

#these help avoid encoding issues in wordpress
character-set-server	= utf8mb4
collation-server		= utf8mb4_general_ci


#basic security settings
bind_address			= 0.0.0.0

[embedded]

[mariadb]







